.csm-wrapper {
	margin: 0 auto 10px; 
	text-align: center; }

	.csm-wrapper .sm-icon-wrapper {
		display: inline-block;
		border-radius: 2px;
		width: 50px; }

	.csm-wrapper .facebook {
		background: #3B5998; }

	.csm-wrapper .googleplus {
		background: #D14836; }

	.csm-wrapper .pinterest {
		background: #CB2027; }

	.csm-wrapper .tumblr {
		background: #2C4762; }

	.csm-wrapper .twitter {
		background: #00ACED; }
